.footerPages {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    max-height: 100%;
    @include foooterPages;

    .footerTop {
        grid-area: ft;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        left: 0;
        border-top: .5px solid rgb(182, 182, 182);
        border-bottom: .5px solid rgb(182, 182, 182);
        margin-bottom: 20px;

        .divText {
            text-align: center;
            color: #333333;
        }

        .divButtonFooter {
            display: flex;
            align-items: center;

            #footerSuscripcion {
                height: 50px;
            }

            .buttonSumitFooter {
                background-color: rgb(255, 154, 233);
                height: 50px;
                color: white;
                font-weight: bold;
                border: none;

            }
        }

    }

    .footerMiddle {
        grid-area: fm;
        background-color: white;
        display: flex;
        justify-content: space-around;

        .footerHorario {
            grid-area: fh;
            border-right: .5px solid rgb(182, 182, 182);
            padding-right: 30px;
            margin-left: -30px;


        }

        .footerCambio {
            grid-area: fcam;
            border-right: .5px solid rgb(182, 182, 182);
            padding-right: 40px;
            margin-left: -60px;
        }

        .liFooter:hover {
            text-decoration: underline;
        }

        .footerContacto {
            grid-area: fcon;
            margin-left: -50px;

            ul {
                padding: 0%;
                list-style: none;
            }
        }
    }
}


@media (max-width: 768px) {
    .footerPages {
        @include gridAuto;

        .footerTop {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            div{
                padding: 1em
            }
            .divButtonFooter {
                @include flexCenter;

                #footerSuscripcion {
                    width: 80%;
                    height: 50px;
                }
            }

        }

        .footerMiddle {
            flex-direction: column;

            .footerHorario {
                border-bottom: 1px solid rgb(182, 182, 182);
                padding-right: 0;
                margin-left: 0;
            }

            .footerCambio {
                border-bottom: 1px solid rgb(182, 182, 182);
                padding-right: 0;
                margin-left: 0;
            }

            .footerContacto {
                margin-left: 0px;

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
            }

        }
    }

}
@media (max-width: 320px){
    .footerPages {
        font-size: 1em;
        .footerTop {
            flex-direction: column;

            div {
                width: 100%;
                padding: 0;
                flex-direction: column;
                #footerSuscripcion{
                    margin: 1em;
                }
                .buttonSumitFooter {
                    margin: 1em;
                    width: 80%;
                }
            }
        }

        .footerMiddle {
            display: flex;
        }
    }
}