#bodyPagos {
    @include reset;
    width: 100vw;
    height: 280vh;
    @include grillaPagos;
    background-color: black;
    font-family: $roboto;

    #headerPagos {
        height: auto;
        grid-area: hp;
    }

    #mainPagos {
        grid-area: mp;
        h1 {
            color: $colortitle;
            text-align: center;
        }
        #sectionPagos {
            height: 40%;
            background-color: black;
            display: flex;
            justify-content: space-around;
            align-items: center;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 300px;
                height: 300px;
                background-color: $backgroundbox;
                box-shadow: $boxshadow;
                text-align: center;

                i {
                    font-size: 4em;
                }
            }
        }

        #arrivals {
            img {
                width: 100%;
            }
        }

        #footerPagos {
        grid-area: fp;
        }
    }
}

@media (max-width: 768px), (max-width:1024px){
    #bodyPagos{
        @include gridAuto;
        height: auto;
        #headerPagos{
            height: 50px;
        }
        #mainPagos{
            #sectionPagos{
                div{
                    width: 250px;
                    height: 250px;
                    font-size: .8em;
                    margin:1em;
                    i{
                        font-size: 2em;
                    }
                }
            }
        }
    }
}
@media (max-width: 320px), (max-width:450px){
    #bodyPagos{
        width: 100vw;
        #headerPagos{
            height: 50px;
        }
        #mainPagos{
            width: 100vw;
            height: 150vh;
            #sectionPagos{
                width: 100vw;
                height: 80%;
                flex-direction: column;
                div{
                    margin: 1em;
                    height: 70%;
                }
            }
            #arrivals{
                display: none;
            }
        }
    }
}