#bodyProductos {
    @include reset;
    @include grillaProductos;
    width: 100vw;
    height: 360vh;
    background-color: black;
    font-family: $roboto;

    #headerProductos {
        grid-area: hpro;
    }

    #mainProductos {
        grid-area: mpro;
        padding: ($padding*3);
        h1 {
            color: $colortitle;
            text-align: center;
        }

        section {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .contenedorImg {
                padding: $padding;

                .divImg {
                    width: 240px;
                    height: 370px;
                    position: relative;

                    .divImg1, .divImg2 {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }

                    .divImg2{
                        opacity: 0;

                        &:hover{
                            opacity: 10;
                            transition: .5s ease-out;
                        }
                    }

                }
                .divTextProd{
                    p {
                        margin: 0;
                        font-weight: bold;
                        text-align: center;
                        color: rgb(245, 177, 240);
                    }
                }
                .buttonCompras{
                    text-align: center;
                    button{

                        height: 30px ;
                        background-color: $backgroundbox;
                        color: black;
                        font-weight: bolder;
                        cursor: pointer;
                    }
                   
                }


            }

        }
    }

    #footerProductos {
        grid-area: fpro;
    }

}

@media (max-width: 768px), (max-width:1024px) {
    #bodyProductos {
        @include gridAuto;
        height: auto;

        .headerPages {
            height: 50px;
            z-index: 1;
        }

        main {

            section {
                div {
                    flex-direction: column;
                }
            }
        }
    }
}

@media (max-width: 320px), (max-width:450px) {
    #bodyProductos {
        .headerPages{
            z-index: 1;
        }
        #mainProductos {
            margin-top: 3em;
            padding: 0;
            section {
                .divImg1,.divImg2{
                    position: static;
                }
            }
        }
    }
}