$backgroundHeader: black;
$backgroundboxbotton: rgb(250, 116, 241);
$backgroundbox:  rgb(255, 206, 253);
$boxshadow: 0 0 50px white;
$borderbotton:2px solid rgb(255, 20, 147);
$colortitle:#e744ab;
$roboto: 'Roboto', sans-serif;
$fontsize: 1em;
$padding:1em;
$rubik: 'Rubik Dirt', cursive;
$neon: 0 0 10px white, 0 0 15px white, 0 0 30px white, 0 0 30px white;